#tpbr_topbar #tpbr_box a {
    background: #66642F!important;
    border: 0px!important;
    border-radius: 0px!important;
    transition: all 300ms ease-in-out;
}

#tpbr_topbar #tpbr_box a:hover {
    background: #989546!important;
}

.footer_color {
    background-size: cover;
    background-position: center;
}

.news-headline {
    color: #dddddd!important;
}

.no-news-thumb {
    visibility: hidden;
}

#header_meta {
    background: #000;
    border: none;
}

.phone-info {
    font-size: 1.5em;
    color: #bab4a3!important;
}

#homepage-quote>div {
    color: #fff;
    font-size: 3em;
    text-align: center;
    position: relative;
    padding: 1em 0em;
}

#homepage-quote>div .author {
    font-size: initial;
    position: absolute;
    left: 66%;
    bottom: -5%;
    line-height: 1.3em;
}

.homepage-widget {
    padding: 1em;
    color: #bab4a3;
}

.homepage-widget h3 {
    color: #fff;
}

.homepage-widget.red a {
    color: #a9483e;
}

.homepage-widget.blue a {
    color: #75adbb;
}

.homepage-widget.orange a {
    color: #cf984e;
}

#homepage-widgets {
    background-size: cover;
}

#homepage-widgets .av_one_fourth {
    width: 23%;
    margin-left: 1%!important;
    margin-right: 1%!important;
}

@media only screen and (max-width:767px){
    #homepage-widgets .av_one_fourth.first {
        margin-top: 20px!important;
    }
}

@media only screen and (max-width:989px) and (min-width:768px){
    #homepage-widgets .av_one_fourth {
        width: 48%;
        margin-left: 1%!important;
        margin-right: 1%!important;
    }

    #homepage-widgets .av_one_fourth {
        float: left;
        clear: right;
        margin-top: 0px!important;
    }

    #homepage-widgets .av_one_fourth.first {
        margin-top: 20px!important;
        margin-bottom: 20px!important;
    }
}

.homepage-form h3 {
    color: #fff;
    font-size: 2em;
    text-align: center;
    position: relative;
    padding-top: .5em;
}

#gform_wrapper_1 {
    margin: 0;
}

#gform_1 {
    padding: 0em 1em;
}

#gform_1 label {
    color: #bab4a3;
    margin: 0px!important;
}

#gform_1 input[type="text"],
#gform_1 textarea {
    border: none!important;
    background: rgba(238,229,214,.15)!important;
}

#gform_1>ul>li {
    margin-bottom: 0px!important;
}

#gform_1 .ginput_container {
    margin-top: 0px!important;
}

.gform_wrapper .gform_footer {
    text-align: center;
}

.button {
    background: rgba(71,15,8,1);
    background: -moz-linear-gradient(top,rgba(71,15,8,1) 0%,rgba(58,11,5,1) 100%);
    background: -webkit-gradient(left top,left bottom,color-stop(0%,rgba(71,15,8,1)),color-stop(100%,rgba(58,11,5,1)));
    background: -webkit-linear-gradient(top,rgba(71,15,8,1) 0%,rgba(58,11,5,1) 100%);
    background: -o-linear-gradient(top,rgba(71,15,8,1) 0%,rgba(58,11,5,1) 100%);
    background: -ms-linear-gradient(top,rgba(71,15,8,1) 0%,rgba(58,11,5,1) 100%);
    background: linear-gradient(to bottom,rgba(71,15,8,1) 0%,rgba(58,11,5,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#470f08',endColorstr='#3a0b05',GradientType=0);
    font-size: 1.5em!important;
    color: #bab4a3!important;
    font-style: italic;
}

.button:hover {
    background: rgba(79,18,12,1);
    background: -moz-linear-gradient(top,rgba(79,18,12,1) 0%,rgba(58,11,5,1) 100%);
    background: -webkit-gradient(left top,left bottom,color-stop(0%,rgba(79,18,12,1)),color-stop(100%,rgba(58,11,5,1)));
    background: -webkit-linear-gradient(top,rgba(79,18,12,1) 0%,rgba(58,11,5,1) 100%);
    background: -o-linear-gradient(top,rgba(79,18,12,1) 0%,rgba(58,11,5,1) 100%);
    background: -ms-linear-gradient(top,rgba(79,18,12,1) 0%,rgba(58,11,5,1) 100%);
    background: linear-gradient(to bottom,rgba(79,18,12,1) 0%,rgba(58,11,5,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4f120c',endColorstr='#3a0b05',GradientType=0);
}

.slider-button {
    background: rgba(37,61,67,1);
    background: -moz-linear-gradient(top,rgba(37,61,67,1) 0%,rgba(31,53,58,1) 100%);
    background: -webkit-gradient(left top,left bottom,color-stop(0%,rgba(37,61,67,1)),color-stop(100%,rgba(31,53,58,1)));
    background: -webkit-linear-gradient(top,rgba(37,61,67,1) 0%,rgba(31,53,58,1) 100%);
    background: -o-linear-gradient(top,rgba(37,61,67,1) 0%,rgba(31,53,58,1) 100%);
    background: -ms-linear-gradient(top,rgba(37,61,67,1) 0%,rgba(31,53,58,1) 100%);
    background: linear-gradient(to bottom,rgba(37,61,67,1) 0%,rgba(31,53,58,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#253d43',endColorstr='#1f353a',GradientType=0);
    padding: .5em 1em;
    font-size: 1.5em!important;
    color: #bab4a3!important;
    font-style: italic;
    text-decoration: none;
}

.slider-button:hover {
    background: rgba(37,61,67,1);
    background: -moz-linear-gradient(top,rgba(37,61,67,1) 0%,rgba(36,61,66,1) 100%);
    background: -webkit-gradient(left top,left bottom,color-stop(0%,rgba(37,61,67,1)),color-stop(100%,rgba(36,61,66,1)));
    background: -webkit-linear-gradient(top,rgba(37,61,67,1) 0%,rgba(36,61,66,1) 100%);
    background: -o-linear-gradient(top,rgba(37,61,67,1) 0%,rgba(36,61,66,1) 100%);
    background: -ms-linear-gradient(top,rgba(37,61,67,1) 0%,rgba(36,61,66,1) 100%);
    background: linear-gradient(to bottom,rgba(37,61,67,1) 0%,rgba(36,61,66,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#253d43',endColorstr='#243d42',GradientType=0);
    text-decoration: none;
}

.header_bg {
    background-color: transparent!important;
}

.html_header_top.html_header_topbar_active.html_header_sticky #top.home #main {
    padding-top: 0px!important;
}

.tagcloud a,
.news-thumb {
    background: #50463a!important;
    border: 1px solid #80796f!important;
}

.template-single-blog .blog-meta {
    display: none;
}

.no-news-thumb {
    visiblity: hidden;
}

.social_bookmarks li {
    border: none!important;
    border-radius: 2px;
}

.social_bookmarks li:hover a {
    background: #80796f!important;
}

#gform_1 li {
    margin-bottom: 0px!important;
}

.gform_footer.top_label {
    margin-top: 0px!important;
    padding: 0px!important;
}

#gform_1 textarea {
    height: 50px!important;
}

.name_first label,
.name_last label {
    display: none!important;
}

#input_1_6>span {
    max-width: 50%;
    margin: 0px!important;
}

.main_menu .avia-menu .sub-menu {
    background: transparent;
}

.main_menu .avia-menu .sub-menu>.menu-item {
    background: transparent;
}

.main_menu .avia-menu .sub-menu>.menu-item>a {
    background: rgba(133,129,116,.9)!important;
}

.main_menu .avia-menu .sub-menu>.menu-item:hover {
    background: #fff;
}

.main_color,
main {
    border: none!important;
}

.title_container {
    background-color: #4c443b!important;
}

@media only screen and (max-width:767px){
    .container #advanced_menu_toggle,
    #advanced_menu_hide {
        display: block;
        color: #fff;
        background: transparent;
        border: 1px solid #fff;
    }

    .container #advanced_menu_toggle:hover,
    #advanced_menu_hide:hover {
        background: #4c443b;
    }
}

.sidebar {
    border: none!important;
}

html {
    background: #000;
}

#header,
#header .container,
.header_bg {
    background: transparent!important;
}

#top {
    background-color: #000;
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: top;
    background-image: url('../../../../../../../pexels-photo-259280%20(1).jpeg');
}

#main,
#wrap_all {
    background: transparent!important;
}

#main .title_container,
body:not(.home) #main .main_color {
    max-width: 1130px;
    margin: 0 auto;
    padding: 1em;
    background: #fefcf8!important;
    border: 4px solid #eddec6!important;
}

body:not(.home) #main .title_container {
    border-bottom-width: 0px!important;
    margin-top: 20px!important;
}

body:not(.home) #main .main_color {
    border-top-width: 0px!important;
    margin-bottom: 20px!important;
}

#main .title_container>.container {
    background: rgba(153,148,71,.2);
}

#header_main {
    z-index: 11;
    border: none!important;
    height: 219px;
}

#header_main_alternate {
    border: none!important;
    top: 60px;
}

nav.main_menu .avia-menu {
    font-size: 38px!important;
    position: relative;
    background: #000;
    color: #fff;
    text-align: center;
    padding: 0em;
    margin: 0em auto 0em;
    height: 50px!important;
}

nav.main_menu .avia-menu:before,
nav.main_menu .avia-menu:after {
    content: '';
    position: absolute;
    display: block;
    bottom: -.25em;
    border: 25px solid #000;
    z-index: -1;
}

nav.main_menu .avia-menu:before {
    left: -1.35em;
    border-right-width: 1em;
    border-left-color: transparent;
}

nav.main_menu .avia-menu:after {
    right: -1.35em;
    border-left-width: 1em;
    border-right-color: transparent;
}

#avia-menu:before,
#avia-menu:after {
    content: '';
    position: absolute;
    display: block;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
    bottom: -.25em;
}

#avia-menu:before {
    left: 0;
    border-width: .25em 0 0 18px;
}

#avia-menu:after {
    right: 0;
    border-width: .25em 18px 0 0;
}

#header_main_alternate {
    position: relative;
    z-index: 1;
}

#avia-menu .menu-item>a {
    text-transform: uppercase;
    color: #f4dbb1!important;
}

#avia-menu>.current-menu-item>a>.avia-menu-text,
#avia-menu>.menu-item>a:hover .avia-menu-text {
    border: 2px solid #f4dbb1;
    border-left: none;
    border-right: none;
}

.avia-menu-text {
    padding: .25em 0;
    font-family: 'Roboto Slab',serif!important;
    font-weight: 400;
}

.avia-menu-fx {
    display: none;
}

#header_main {
    z-index: 20!important;
}

#header_main>.container {
    margin-bottom: 25px;
}

.logo {
    height: 190px;
    top: -22px;
    z-index: 5;
}

@media only screen and (max-width:767px){
    .logo {
        width: 100%!important;
    }

    .logo a img {
        margin: 0 auto!important;
        margin-top: 27px!important;
    }
}

.logo a,
.logo a img {
    max-height: 100%!important;
}

#header_main>.container,
#header_main>.container>.inner_container {
    max-height: 110px!important;
}

body {
    -webkit-font-smoothing: subpixel-antialiased;
}

.html_header_top.html_header_topbar_active.html_header_sticky.html_bottom_nav_header #top #main {
    padding-top: 250px!important;
}

.phone-info {
    color: #a5a349!important;
}

#top .social_bookmarks li {
    border-color: #7a212e!important;
}

.social_bookmarks a {
    color: #7a212e!important;
    background-color: rgba(153,150,70,.666)!important;
}

.social_bookmarks>li {
    border-color: #a5a349!important;
}

.social_bookmarks>li:hover>a {
    background-color: rgba(153,150,70,.9)!important;
}

#menu-item-search [data-av_icon]:before {
    color: #a5a349!important;
}

.footer_color {
    border: none;
}

.breadcrumb-trail {
    padding-left: 5%;
}

span.star-icon {
    padding: .5em 1.2em;
    display: inline-block;
    background: url(https://temeats.com/wp-content/uploads/star-icon.png);
    background-repeat: no-repeat;
    background-position: center;
}

#text-2 .textwidget>a {
    display: block;
}

#text-2 {
    overflow: visible!important;
}

#text-2 .widgettitle {
    white-space: nowrap;
}

#newsbox-2 .news-headline {
    color: #eddec6;
}

.tagcloud a {
    background-color: #3f030c;
    color: #eddec6!important;
}

#main .main-title a {
    text-transform: uppercase;
    color: #999447!important;
    font-family: 'Roboto Slab',serif!important;
    font-size: 1.5em;
    display: block;
    padding: .25em!important;
}

#main .breadcrumbs {
    color: #999447!important;
    font-family: 'Roboto Slab',serif!important;
}

main.content {
    border: none!important;
}

aside.sidebar {
    border: none!important;
}

aside.sidebar .inner_sidebar {
    margin-left: 0px!important;
}

#gform_widget-2 {
    padding: 0px!important;
}

.inner_sidebar>* {
    margin-right: 2em;
}

#gform_wrapper_1 {
    padding: 1em;
    margin: 0px!important;
    background: #000;
}

#gform_wrapper_1 .ginput_container {
    margin: 0;
}

#gform_wrapper_1 .ginput_container input,
#gform_wrapper_1 .ginput_container textarea {
    border-radius: 4px;
    background: rgba(237,222,198,.38)!important;
    border: none!important;
}

#gform_1 {
    margin: 0px!important;
}

#gform_1 .gform_footer {
    margin: 0px!important;
    text-align: center;
}

#gform_wrapper_1 .gfield_label {
    color: #eddec6;
    margin: 0;
}

#field_1_5 {
    margin-bottom: 0px!important;
}

#gform_submit_button_1 {
    text-transform: uppercase;
    font-style: italic;
}

#gform_fields_1 .gfield {
    margin-bottom: 0px!important;
    padding: 0;
}

#searchsubmit {
    font-size: 1em!important;
    padding: 0px!important;
}

#s {
    background-color: rgba(237,222,198,.38)!important;
    border-color: #f4dbb1!important;
    color: #f4dbb1!important;
}

.avia-button {
    color: white!important;
    border: 1px solid rgba(153,149,68,.5)!important;
    border-radius: 5px;
    background: rgba(153,149,68,1);
    background: -moz-linear-gradient(top,rgba(153,149,68,1) 0%,rgba(130,125,34,1) 100%);
    background: -webkit-gradient(left top,left bottom,color-stop(0%,rgba(153,149,68,1)),color-stop(100%,rgba(130,125,34,1)));
    background: -webkit-linear-gradient(top,rgba(153,149,68,1) 0%,rgba(130,125,34,1) 100%);
    background: -o-linear-gradient(top,rgba(153,149,68,1) 0%,rgba(130,125,34,1) 100%);
    background: -ms-linear-gradient(top,rgba(153,149,68,1) 0%,rgba(130,125,34,1) 100%);
    background: linear-gradient(to bottom,rgba(153,149,68,1) 0%,rgba(130,125,34,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#999544',endColorstr='#827d22',GradientType=0);
}

.avia-button:hover {
    background: rgba(150,145,78,1);
    background: -moz-linear-gradient(top,rgba(150,145,78,1) 0%,rgba(130,125,34,1) 100%);
    background: -webkit-gradient(left top,left bottom,color-stop(0%,rgba(150,145,78,1)),color-stop(100%,rgba(130,125,34,1)));
    background: -webkit-linear-gradient(top,rgba(150,145,78,1) 0%,rgba(130,125,34,1) 100%);
    background: -o-linear-gradient(top,rgba(150,145,78,1) 0%,rgba(130,125,34,1) 100%);
    background: -ms-linear-gradient(top,rgba(150,145,78,1) 0%,rgba(130,125,34,1) 100%);
    background: linear-gradient(to bottom,rgba(150,145,78,1) 0%,rgba(130,125,34,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#96914e',endColorstr='#827d22',GradientType=0);
}

.button {
    color: #eddec6!important;
    border: 1px solid rgba(122,33,46,.5)!important;
    border-radius: 5px;
    background: #510d0f;
    background: -moz-linear-gradient(top,#510d0f 0%,#370607 100%);
    background: -webkit-gradient(left top,left bottom,color-stop(0%,#510d0f),color-stop(100%,#370607));
    background: -webkit-linear-gradient(top,#510d0f 0%,#370607 100%);
    background: -o-linear-gradient(top,#510d0f 0%,#370607 100%);
    background: -ms-linear-gradient(top,#510d0f 0%,#370607 100%);
    background: linear-gradient(to bottom,#510d0f 0%,#370607 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#510d0f',endColorstr='#370607',GradientType=0);
    font-size: 1.4em!important;
    font-family: 'Roboto Slab',serif!important;
    font-weight: 300!important;
    padding: .5em 1.5em!important;
}

.button:hover {
    background: rgba(92,6,12,1);
    background: -moz-linear-gradient(top,rgba(92,6,12,1) 0%,rgba(55,6,7,1) 100%);
    background: -webkit-gradient(left top,left bottom,color-stop(0%,rgba(92,6,12,1)),color-stop(100%,rgba(55,6,7,1)));
    background: -webkit-linear-gradient(top,rgba(92,6,12,1) 0%,rgba(55,6,7,1) 100%);
    background: -o-linear-gradient(top,rgba(92,6,12,1) 0%,rgba(55,6,7,1) 100%);
    background: -ms-linear-gradient(top,rgba(92,6,12,1) 0%,rgba(55,6,7,1) 100%);
    background: linear-gradient(to bottom,rgba(92,6,12,1) 0%,rgba(55,6,7,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5c060c',endColorstr='#370607',GradientType=0);
}

#gform_widget-2 .widgettitle,
.homepage-widget-title {
    line-height: 0;
    font-size: 1.4em;
    border: 1.6em solid #999447;
    border-color: #999447!important;
    border-right-color: transparent!important;
    position: relative;
    left: 0;
    width: 105%;
    margin: 0;
    font-family: 'Roboto Slab',serif!important;
    color: #7a212e!important;
    white-space: nowrap;
    font-weight: 400;
}

.have-questions {
    font-family: 'Roboto Slab',serif!important;
    text-transform: uppercase;
    text-align: center;
}

.have-questions h3 {
    font-family: 'Roboto Slab',serif!important;
    font-wieght: 700;
    font-size: 2em;
    color: #722830;
}

.have-questions p {
    color: #999447;
    font-size: 1.4em;
}

#main .container_wrap .container {
    padding: 0px!important;
}

#layer_slider_1 {
    padding: 0px!important;
    border: 6px solid #eddec6!important;
    margin: 0 auto;
    margin-top: 1.5em!important;
    margin-bottom: 2em!important;
    width: 100%;
    max-width: 1130px!important;
    box-shadow: 0 22px 26px rgba(0,0,0,.5),0 0 10px rgba(0,0,0,.75);
}

//.home #main:before {
    //: '';
    contentcontentcontent//: 10px;
    heightheightheight//: 18px;
    toptoptop//: relative;
    positionpositionposition//: 1140px;
    widthwidthwidth//: 0 20px 20px rgba(0,0,0,1);
    box-shadowbox-shadowbox-shadow//: 3;
    z-indexz-indexz-index//: 1030px;
    max-widthmax-widthmax-width//: 0 auto;
    marginmarginmargin//: block;
}

#home-below-section {
    background: transparent!important;
    border: none!important;
}

#home-news-section {
    background-size: cover;
    background-position: center center!important;
    border: none;
}

@media only screen and (max-width:767px){
    #home-news-section {
        background-color: black!important;
        background-size: inherit!important;
        background-position: bottom center!important;
    }

    #top #header .main_menu li#menu-item-search,
    #top #header .main_menu ul.social_bookmarks {
        display: none!important;
    }

    .header_color .av-hamburger-inner,
    .header_color .av-hamburger-inner::before,
    .header_color .av-hamburger-inner::after {
        background-color: #000;
    }

    nav.main_menu .avia-menu {
        background: transparent;
        border: 0;
        border-right: 0;
    }

    nav.main_menu .avia-menu:after,
    nav.main_menu .avia-menu:before {
        display: none;
    }
}

#home-news-section .content {
    padding: 1em 0px!important;
}

#home-news-section .content .av-special-heading {
    margin-top: 2em!important;
}

#home-news-section .slide-entry {
    background: rgba(0,0,0,.75)!important;
    height: 390px!important;
    padding: 1em;
}

.home #gform_wrapper_1 {
    background: rgba(0,0,0,.75)!important;
}

.home .special-heading-inner-border {
    border-color: rgb(153,150,71);
    opacity: .56!important;
}

.home .slide-entry .slide-image {
    text-align: center;
    background: transparent!important;
    width: 100%;
}

.home .slide-entry .slide-image img {
    display: inline-block;
}

#main>* {
    padding: 1em!important;
}

#layer_slider_1 {
    padding: 0px!important;
}

.sidebar-icon img {
    width: 100%;
}

.sidebar .inner_sidebar .widget,
#top .title_container .container {
    padding: 1em 0px!important;
}

#gform_widget-2 {
    padding-bottom: 1em!important;
}

#top #main .sidebar {
    padding-top: 0px!important;
}

#top .title_container .container {
    min-height: 0px!important;
}

.services-blocks {
    background: maroon;
    padding: .5em;
    font-family: 'Roboto Slab',serif!important;
    min-height: 330px;
}

.services-blocks h3 {
    text-align: left;
    font-size: 1em;
    border: 1.1em solid #000;
    border-color: black!important;
    border-right-color: transparent!important;
    position: relative;
    left: 0;
    width: 95%;
    margin: 0;
    line-height: 0;
    color: #979445;
    text-transform: uppercase;
}

.services-blocks ul {
    margin: 0;
}

.services-blocks ul li {
    list-style: none;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
}

.services-blocks-container {
    background: transparent!important;
}

.services-blocks.beef {
    background: url(/wp-content/uploads/2015/05/services-beef.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.services-blocks.pork {
    background: url(/wp-content/uploads/2015/05/services-pork.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.services-blocks.lamb {
    background: url(/wp-content/uploads/2015/05/services-lamb.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.services-blocks.goat {
    background: url(/wp-content/uploads/2015/05/services-goat.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

@media only screen and (min-width:990px){
    .page-id-39 .av_one_fourth {
        width: 24%!important;
        margin-left: 1.33%!important;
    }

    .page-id-39 .av_one_fourth.first {
        margin-left: 0px!important;
    }
}

h3 {
    font-family: 'Roboto Slab',serif!important;
    font-weight: 400;
}

#footer h3 {
    font-weight: 400!important;
}

#home-below-section .content {
    padding: 0px!important;
}

.home h3.av-special-heading-tag {
    color: #999648!important;
}

.page-id-39 .av_one_full.first {
    margin-top: 1em!important;
}

main.content {
    padding-top: 1em!important;
}

.flex_column .widget .widgettitle {
    margin-top: 0px!important;
}

#footer {
    padding-top: 40px!important;
}

.resources-blocks {
    display: block;
    color: #fff;
    padding: .5em;
    font-family: 'Roboto Slab',serif!important;
    min-height: 275px;
    height: auto;
    transition: box-shadow .2s linear;
}

.resources-blocks:hover {
    box-shadow: 0 2px 3px #000;
}

.resources-blocks ul {
    position: absolute;
    top: 5em;
    margin: 0;
}

.resources-blocks h3 {
    width: 80%;
    text-align: left;
    font-size: 1em;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    top: 1em;
    z-index: 5;
    font-weight: 300!important;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-left: 1em;
}

.resources-blocks.resources {
    background: black!important;
}

.resources-blocks.information {
    background: #7a212e!important;
}

.resources-blocks.local {
    background: #999646!important;
}

.resources-blocks .banner {
    border: 2em solid #000;
    position: absolute;
    left: 0;
    width: 95%;
    margin: 0;
    line-height: 0;
    display: block;
}

.resources-blocks.resources .banner {
    border-color: #999646!important;
    border-right-color: transparent!important;
}

.resources-blocks.information .banner {
    border-color: black!important;
    border-right-color: transparent!important;
}

.resources-blocks.local .banner {
    border-color: black!important;
    border-right-color: transparent!important;
}

.resources-blocks ul li {
    list-style: none;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
}

@media only screen and (max-width:1098px){
    .resources-blocks h3 {
        font-size: 1.2em;
    }
}

@media only screen and (min-width:875px) and (max-width:1098px){
    .resources-blocks h3 {
        top: 1em!important;
    }
}

@media only screen and (max-width:900px){
    .resources-blocks {
        min-height: 300px;
    }
}

@media only screen and (min-width:767px) and (max-width:874px){
    .resources-blocks.information h3 {
        top: .5em!important;
    }

    .resources-blocks.resources h3,
    .resources-blocks.local h3 {
        top: 1em!important;
    }
}

@media only screen and (max-width:767px){
    .resources-blocks h3 {
        top: 1.5em!important;
    }
}

.slide-entry-title a {
    color: #999646!important;
}

.slide-entry-excerpt {
    color: #b3925e!important;
}

.gfield {
    position: relative;
    margin-top: .5em;
}

.gfield_error {
    background-color: transparent!important;
    border: none!important;
}

.gfield_error .ginput_container {
    padding: .25em;
}

.validation_message {
    font-size: .75em!important;
}

#main .gform_wrapper .ginput_container+.gfield_description.validation_message {
    position: absolute;
    font-size: .5em;
    text-align: center;
    background-color: #fff;
    border: 1px solid red;
    border-radius: 3px;
    width: auto;
    top: 16px;
    right: -40px;
    width: 140px;
    padding: 0px!important;
}

#main .validation_error {
    font-size: .75em!important;
    line-height: 1.3em;
    padding: 0em!important;
    text-align: center;
    background-color: #fff;
    border: 1px solid red!important;
    border-radius: 3px;
}

strong.news-headline:hover {
    color: #751E2F!important;
}

#avia-menu .sub-menu {
    background-color: transparent!important;
    border-top: none!important;
    padding-top: 9px;
}

#avia-menu .sub-menu a {
    border: none!important;
}

.avia-menu-text {
    font-size: 13px;
}

#avia-menu .sub-menu li+li {
    border-top: 1px solid rgba(154,152,70,.3);
    background-color: black!important;
}

#avia-menu .sub-menu a:hover {
    background-color: #7a212e!important;
}

.sub-menu li a,
.main_menu .avia-menu .sub-menu>.menu-item>a {
    background-color: #000!important;
}

#top .av-main-nav ul a {
    padding: 16px 16px!important;
}

#footer {
    padding: 1em;
}

@media only screen and (min-width:768px){
    main.av-content-small.units {
        padding-left: 3%;
    }
}

.contact-social:hover {
    background-color: rgba(153,150,70,.9)!important;
}

.contact-social:hover a {
    text-decoration: none!important;
}

.contact-social a {
    padding: .5em;
    display: block;
    text-decoration: none!important;
    color: #7a212e;
}

.contact-social {
    margin-right: .5em;
    display: inline-block;
    font-size: 2em;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: rgba(153,150,70,.666);
    border-radius: 2px;
}

.contact-social-container {
    text-align: center;
    width: 100%;
}

.fake-thumbnail a.slide-image {
    display: none!important;
}

article:not(.has-post-thumbnail) .blog-meta,
.no-news-thumb {
    visibility: hidden;
}

.multi-big .post_author_timeline,
.single-small .post_author_timeline {
    border-color: rgba(153,150,70,.5)!important;
}

.av_promobox {
    background-color: rgba(153,148,71,.2)!important;
    border-radius: 5px;
    border-color: rgba(90,84,75,.2)!important;
}

ul.book {
    margin-top: 39px;
}

.page-id-129 tr {
    background: transparent!important;
    color: inherit!important;
}

.page-id-129 td {
    vertical-align: top!important;
    border: none!important;
    padding-left: 0px!important;
}

.page-id-129 table {
    background: none!important;
}

.page-id-129 td a {
    width: 150px;
}

@media only screen and (max-width:555px){
    .page-id-129 td a {
        width: 75px;
    }
}

#top .entry-title a {
    color: #999447;
}

.entry-title a:hover {
    color: #7a212e!important;
}

h1.main-title {
    padding-left: 3%;
}

strong.main-title a {
    margin-left: 3%;
}

.contact-info {
    margin-bottom: 1em;
}

.google-maps {
    position: relative;
    padding-bottom: 100%;
    height: 0;
    overflow: hidden;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%!important;
    height: 100%!important;
}

.awa-logo {
    margin-top: -1.25em!important;
}

tr {
    border-top: 1px solid #000;
}

.avia-search-tooltip {
    border-color: #f4dbb1!important;
}

.avia-search-tooltip input[type='text'] {
    border: none!important;
}

.avia-search-tooltip input[type='submit'] {
    font-family: 'entypo-fontello'!important;
}

#top #searchsubmit {
    height: 37px!important;
    width: 37px!important;
    line-height: 37px!important;
}

.page-id-133 .column-top-margin {
    margin-top: 10px!important;
}

.avia_codeblock object {
    width: 100%;
}

.tagcloud a {
    background-color: #232323;
    border-color: #343434;
    color: #eddec6;
}

.template-single-blog .blog-meta {
    display: none;
}

.title_container .breadcrumb {
    right: 3%!important;
    width: auto;
}

#footer .newsbox ul li.news-content a span.news-thumb {
    display: none;
}